@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1200px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 37px;
    }
}

@media screen and (max-width: 992px) {
    .menu_title {
        padding-left: 70px;
    }
    
}

@media screen and (max-width: 768px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        margin-right: 10px;
       
    }
    .nav__container {
        padding: 0;
    }
    .places__cards{
        margin-top: 10px;
        
       
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}




@media screen and (max-width: 480px) {
    
    .card-list {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        

    }
    .menu_title {
        padding-left: 35px;
    }
    .places__cards{
        margin-top: 10px;
        
       
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media screen and (max-width: 320px) {
    
    
}
