{% extends "base.html" %} {% load static %}{% load i18n %}
{% block title %}{% trans 'Выход' %}{%endblock%}
{% block static_css %}
<link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/lesson_page.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/adaptive.css' %}">
<link rel="stylesheet" href="../../static/mybulma/css/mystyles.css">
{% endblock %}
{% block menu %} 
    {% include "menu.html" %} 
{%endblock%}
{% block content %}
<section class="hero is-halfheight">
        <div class="container has-text-centered">
            <h3 class="title has-text-black" style="margin-bottom: 100px;">{% trans 'Спасибо, что воспользовались нашим сайтом. Вы вышли из своей учётной записи. Ждём вас снова!' %}</h3>
        <a href="{% url  'index' %}">
            <button class="button is-info" style="margin-bottom: 200px;">{% trans 'Перейти на главную' %}</button>
        </a>
</div>
</section>
{% endblock %}
