{% extends "base.html" %} {% load static%} {% load i18n %}
{% block title %}{% trans 'Изменить пароль' %}{% endblock title %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/lesson_page.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/adaptive.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/mystyles.css' %}">
{% endblock %}
{% block menu %} 
    {% include "menu.html" %} 
{%endblock%}
{% block content %}
{% load addclass_html_filter %}
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">{% trans 'Изменить пароль' %}</h3>
            <hr class="login-hr">
        <form class="form" method="POST" >
            {% csrf_token %}
            <div class="box">
            {% for field in form %}
                    <label for="{{ field.id_for_label }}" class="field-label">{{ field.label }}</label>
                        {{ field|addclass:"input is-large is-light" }}
                            {% if field.help_text %}
                                <span class="help is-normal has-text-left">- {% trans 'Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё' %}.</span>
                                <span class="help is-normal has-text-left">- {% trans 'Ваш пароль должен содержать как минимум 8 символов' %}.</span>
                                <span class="help is-normal has-text-left">- {% trans 'Ваш пароль не может быть одним из широко распространённых паролей' %}.</span>
                                <span class="help is-normal has-text-left">- {% trans 'Ваш пароль не может состоять только из цифр' %}.</span>
                            {% endif %}
                        {% if field.errors %}
                            <span class="help is-danger">{{ field.errors.as_text|escape }}</span>
                        {% endif %}
            {% endfor %}
                <button type="submit" class="button is-info is-rounded" style="margin-top: 10px;">{% trans 'Изменить пароль' %}</button>
            </div>
        </form>
        </div>
    </div>
{%endblock%}
