{% extends "base.html" %} {% load i18n %}
{% csrf_token %}
{% load static %}
{% block title %} {% trans 'Пароль успешно изменен' %}{% endblock title %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block menu %} 
    {% include "menu.html" %} 
{%endblock%}
{% block content %}
<h3 class="title has-text-black">{% trans 'Пароль успешно изменен' %}</h3>

<div class="control has-text-centered">
    <p >{% trans 'Ваш пароль уже установлен' %}.</p>
<div class="control" style="margin-top: 20px;">
    <a href="{% url 'login' %}">
        <button class="button is-info" style="margin-bottom: 200px;">{% trans 'Войти сейчас' %}</button>
    </a>
</div>
{% endblock %}
