
.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
    margin-bottom: 52px;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 38px;
}
