.nav__container {
    
    padding: 38px;
}

.menu_title {
    padding-left: 90px;
}

.index__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
    margin-bottom: 52px;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 38px;
}

.buttom-form__submit{
    padding: 15px 29px;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
   
    background: #FF2222;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
}

.buttom-form__submit:hover, .buttom-form__submit:focus, .buttom-form__submit:active{
    background: #d42121;
}

.places__cards{
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.places__card-pic{
    padding: 10px, 10px, 10px, 10px;

}


.places__card-title{
    margin-top: 30px;
    padding: 10px;
    font-size: 40px;
    line-height: 50px;
    z-index: 3;
}
.places__card-text{
    padding: 10px;
    font-size: 30px;
    line-height: 20px;
}

.places__card_size_lg{
    -ms-grid-column-span: 1;
    grid-column: span 1;
}
