
{% extends "base.html" %} {% load i18n %}
{% csrf_token %}
{% load tags_filter_payment%}
{% load static %}
{% block title %} Info | 1e9USD {% endblock title %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/mystyles.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/index_styles.css' %}">
<link rel="stylesheet" href="{% static 'mybulma/css/adaptive.css' %}">
{% endblock %}
{% block menu %} 
    {% include "menu.html" %} 
{%endblock%}
{% block content %}
{% for object in object_list %}
    <div class="content ml-3" style="text-indent: 50px;">
        <h1>{{object.title}}</h1>
        {{object.description|safe}}
    </div>
{%endfor%}


{% load tags_filter_payment%}
{% if object_list|to_contact == '3'%}
<div class="content ml-6 pr-4">
<a class="button is-small" href="{%url 'contact_email'%}">{% trans 'Отправить сообщение' %}</a>
</div>
<br>
{%endif%}
    <div class="has-text-centered">
        <a href="{% url 'index'%}">
            <button class="button is-info mb-5">{% trans 'Перейти на главную' %}</button>
        </a>
    </div>
{% endblock %}
